@model BBMSASP.Core.Areas.Admin.Models.BloodGroupViewModel

@{
    ViewBag.Title = "Blood Group";
}
<p>
    <a class="btn btn-success" data-toggle="modal" data-target="#Add-BloodGroup"><i class="fas fa-plus-circle"></i> Add Blood Group</a>
</p>
<div class="col-sm-6">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    #SL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BloodGroups.GroupName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var item in Model.BloodGroupList)
            {
                counter++;
                <tr>
                    <td>
                        @counter
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-info" asp-controller="BloodGroup" asp-area="Admin" asp-route-id="@item.BloodGroupId"><i class="fas fa-edit"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-controller="BloodGroup" asp-area="Admin" asp-route-id="@item.BloodGroupId"><i class="fas fa-trash-alt"></i></a>
                       
                        @*<partial name="_ButtonPartial" model="@item.BloodGroupId"/>*@
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div class="col-sm-6">
    <partial name="_AddBloodGroup" model="@new BBMSASP.Core.Models.BloodGroup()" />
</div>*@
<div class="modal fade" style="margin-top:100px" id="Add-BloodGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3 style="float:left">Add Blood Group</h3>

                <button type="button" class="close" style="float:right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>


            </div>
            <div class="modal-body">
                <partial name="_AddBloodGroup" model="@new BBMSASP.Core.Models.BloodGroup()"/>
               @*@Html.RenderPartial("_AddBloodGroup", new BBMSASP.Core.Models.BloodGroup());*@
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script>
}
