@model IEnumerable<BBMSASP.Core.Models.UpazilaModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpazilaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Divisions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Districts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UpazilaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Divisions.DivisionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Districts.DistrictName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UpazilaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UpazilaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UpazilaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
